@include('shop::products.view.gallery')

<!-- Wishlist -->
@if (core()->getConfigData('customer.settings.wishlist.wishlist_option'))
<div
    class="flex max-h-[46px] min-h-[46px] min-w-[46px] cursor-pointer items-center justify-center rounded-full border bg-white text-2xl transition-all hover:opacity-[0.8] max-sm:max-h-7 max-sm:min-h-7 max-sm:min-w-7 max-sm:text-base"
    role="button"
    aria-label="@lang('shop::app.products.view.add-to-wishlist')"
    tabindex="0"
    :class="isWishlist ? 'icon-heart-fill text-red-600' : 'icon-heart'"
    @click="addToWishlist"
></div>
@endif

<p class="mt-6 text-lg text-zinc-500 max-sm:mt-1.5 max-sm:text-sm">
    {!! $product->short_description !!}
</p>
